name: Sync GPUI

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual triggering

jobs:
  sync-gpui:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          pip install toml

      - name: Configure Git identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Configure Git Credentials
        run: |
          git config --global url."https://${{ secrets.GPUI_CLONE_PAT }}@github.com/".insteadOf "https://github.com/"

      - name: Run Sync Script
        run: python3 .github/scripts/run.py
